body {
  margin: 0;
  padding: 0;
  background: #ededed;
  color: #333;
  font-family: "museo-sans-rounded", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

p {
  line-height: 150%;
  margin: 0 0 1rem 0;
  font-size: 1rem;
}

a {
  color: $purple;
  &:hover {
    color: #421ede;
  }
}

h1 {
  font-family: "museo-sans-rounded", Helvetica, Arial,sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  margin: 0 0 1rem;
  color: $purple;
}

h2 {
  font-weight: 300;
  font-family: "museo-sans-rounded", Helvetica, Arial, sans-serif;
  color: $purple;
  font-size: 2rem;
  margin: 0 0 0.875rem;
}

h3 {
  font-family: "museo-sans-rounded", Helvetica, Arial, sans-serif;
}

.container {
  @include container(90%);
  @include breakpoint($sm) {
    @include container(95%);
  }
  @include breakpoint($md) {
    @include container(37.5rem);
  }

  @include breakpoint($lg) {
    @include container(37.5rem);
  }
}

nav {
  padding: 0.5rem 0;
  @extend %clearfix;
  ul {
    margin: 0;
    padding: 0;
    @include breakpoint($sm) {
      text-align: center;
    }
  }
  li {
    list-style: none;
    padding: 0 0 0.5rem;
    margin: 0 1rem 0.5rem 0;
    margin-right: 1rem;
    border-bottom: 1px solid #ccc;
    @include breakpoint($sm) {
      float: left;
      border-bottom: 0;
      border-right: 1px solid #ccc;
      padding: 0 20px 0 0;
      text-align: center;
    }
  }
}

.branding {
  text-align: center;
  position: relative;
  overflow: hidden;
  background: url('../images/kiatlim-portrait.jpg') no-repeat center top;
  background-size: cover;
  height: 500px;
  margin-bottom: 1.5rem;
  @include breakpoint($sm) {
    height: 100vh;
    width: 50vw;
    position: fixed;
    float: left;
    margin-right: 2rem;
  }
  h1 {
    background: rgba(0,0,0,0.8);
    font-size: 4rem;
    margin: 0;
    color: #fff;
    text-align: center;
    padding: 8px 10px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.links {
  margin: 0 0 2rem;
  padding: 0;
  clear: both;

  li {
    list-style: none;
    margin: 0 0 0.5rem;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  i {
    display: inline-block;
    width: 20px;
    text-align: center;
  }
}

#content {
  @include breakpoint($sm) {
    float: left;
    width: 45%;
    margin-left: 52%;
    margin-top: 1.5rem;
  }
  section {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    &:last-child {
      border-bottom: 0;
    }

    h3 {
      margin: 0 0 0.5rem;
      padding: 0;
    }
    .row {
      margin-bottom: 1rem;
      border-bottom: 1px dotted #ccc;
      &:last-child {
        border-bottom: 0;
      }
    }
    .logo {
      margin-bottom: 0.5rem;
      img {
        width: 100%;
        height: inherit;
      }
    }
    .role {
    }
    .period {
      color: #666;
      font-weight: 300;
      font-size: 0.875rem;
      margin: 0 0 0.5rem;
    }
    li {
      margin-bottom: 0.5rem;
    }
  }
}

footer {
  margin: 0 0 2rem;
  p {
    font-size: 0.875rem;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      display: inline-block;
    }
  }
}