// Dependancies
// --------------------------------------------------
@import "../vendor/normalize.css/normalize.css";
@import "../vendor/breakpoint-sass/stylesheets/breakpoint.scss";
@import "../vendor/fontawesome/scss/font-awesome.scss";
@import "../vendor/susy/sass/susy";

// Susy settings
// --------------------------------------------------
$susy: (
  container: 37.5rem,
  columns: 12,
  math: fluid,
  output: float,
  gutters: 30px/70px,
  gutter-position: after,
  box-sizing: border-box,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top left,
  ),
);

// Custom
// --------------------------------------------------
@import "helpers";
@import "global";